.headline-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline-paragraph{
  width: 50%;
}

.works-row {
  justify-content: center;
}

.card {
  margin: 10px;
}

.spacing {
  margin-top: 150px;
}


.card-color {
  background-color: #EBF0EE;
}