.headline-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline-paragraph{
  width: 50%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.socials {
  width: 160px;
  height: 64px;
  margin: 0 110px 0 110px;
  line-height: 28px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.action {
  margin: 60px 25px 0 25px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.works-row {
  justify-content: center;
}

.card {
  margin: 10px;
}

.spacing {
  margin-top: 150px;
}

.spacing1 {
  margin-bottom: 40px;
}

.card-color {
  background-color: #EBF0EE;
}

.bg-image {
  padding: 0;
  width: fit-content;
  height: fit-content;
  background-image: url("images/SVG/Header-llustration-desktop.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-image2 {
  margin-top: 70px;
  background-size: 1000px 370px, 200px 110px;
  background-position: top -65px right, bottom 0px left;
  background-image: url("images/SVG/illustration\ about\ me\ desktop.svg"), url("images/SVG/Microverse-Student-Project-1/illustration-about-me-2-desktop.svg");
  background-repeat: no-repeat;
}

.bg-image3 {
  background-size: 170px 375px, 100px 100px, 260px 280px;
  background-position: bottom -45px right 0, bottom 10px left 200px, bottom -55px left -50px;
  background-image: url("images/SVG/Microverse-Student-Project-1/Frame.svg"), url("images/SVG/Microverse-Student-Project-1/illustration-2-contact-form-desktop.svg"), url("images/SVG/Microverse-Student-Project-1/Frame-1.svg");
  background-repeat: no-repeat;
}